// frontend/src/material-theme.scss
@use '@angular/material' as mat;

// Tema Claro por defecto aplicado a la app
html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$indigo-palette,
      tertiary: mat.$pink-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

// Tema Oscuro que se acopla a la clase global .dark-theme
html.dark-theme {
  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$blue-palette,
      tertiary: mat.$pink-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}